<section class="container">
  <div class="search">
    <h2>Buscar Cep:</h2>
    <input class="input_caixa" type="search" [formControl]="input" maxlength="8" (keypress)="isNumber($event)" />
  </div>
</section>


<!-- zip code found -->

<section *ngIf="this.cepFound">
  <section>
    <h3>Resultado do cep pesquisado {{cepFormated(this.input.value)}}</h3>
  </section>

  <section>
    <div class="container-field">
      <p class="field">Localidade:</p>
      <p>{{this.cepFound?.localidade}}</p>
    </div>
  </section>

</section>