<section class="container">

  <section class="container-input">
    <div class="search">
      <h2 class="title-search">Pequisar Cep:</h2>
      <input class="input_caixa" id="search" type="search" placeholder="Digite o Cep para pesquisa..." [formControl]="input"
        maxlength="8" 
        (keypress)="isNumber($event)"  
        (paste)="allowOnlyNumbers($event)"
        (keyup)="allowOnlyNumbers($event)"
        #search 
        />
    </div>
  </section>


  <!-- Text result -->
  <section class="txt-result" *ngIf="this.cepFound || this.notFound">
    <h3 *ngIf="!this.notFound && this.cepFound">CEP encontrado: {{cepFormated(this.input.value)}}</h3>
    <h3 *ngIf="this.notFound">Nenhum CEP encontrado!!!</h3>
  </section>

  <!-- zip code found -->
  <section *ngIf="this.cepFound">
    <section>
      <div class="container-field">
        <div class="group-field">
          <p class="field">Localidade:</p>
          <p class="field-value">{{this.cepFound?.localidade}}{{this.cepFound?.uf ?'-':''}}{{this.cepFound?.uf}}</p>
        </div>
        <div class="group-field">
          <p class="field">Endereço:</p>
          <p class="field-value">{{this.cepFound?.logradouro}}</p>
        </div>
        <div class="group-field">
          <p class="field">Bairro:</p>
          <p class="field-value">{{this.cepFound?.bairro}}</p>
        </div>
      </div>
    </section>
  </section>

  <section class="align-container" *ngIf="this.loading">
    <app-loading></app-loading>
  </section>

</section>
