.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 96%;
    max-width: 1200px;
    background-color: #f8f3f3;
    padding: 10px;
    border-radius: 5px;
}

.container-input {
    border-bottom: 6px solid rgb(6, 45, 121);
    padding: 5px;
    display: flex;
    height: 65px;
}

.container-field {
    display: flex;
    overflow-x: auto;
}

.field {
    font-size: 1.5rem;
    font-weight: bolder;
}

.group-field {
    padding: 10px;
    width: 100%;
}

.field-value {
    font-size: 1.2rem;
    margin-top: -15px;
}

.search {
    display: flex;
    flex: auto;
    height: 20px;
    margin-bottom: 30px;
    align-items: flex-start;
    justify-content: flex-start;
}

.txt-result {
    background: rgb(6, 45, 121);
    font-size: 1.5em;
    color: #f8f3f3;
    margin-top: 1em;
    padding: 5px;
    text-align: center;
}

.input_caixa {
    border: none;
    outiline: none;
    height: 65px;
    border-radius: 15px;
    padding-left: 15px;
    font-size: 1.8em;
    width: 80%;
}

::-webkit-input-placeholder {
    color: rgb(149, 149, 149);
    font-size: 15px;
    padding-left: 10px;
}

.align-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.title-search{

    width: 18%;
}

/* Responsive */

@media (max-width: 700px) {
    .container-field {
        display: flex;
        flex-direction: column;
    }

    .group-field {
        margin-bottom: -30px;
    }

    .input_caixa {
        font-size: 1.2em;
    }
}


@media (max-width: 470px) {
    .title-search{
        font-size: 1em;
    }
}