.loader-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgb(52, 51, 51);
    border-top-color: #3373cc;
    animation: loader-circle 1s linear infinite;
  }
  
  @keyframes loader-circle {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }